@model IList<WebApplication4.ViewModels.BookViewModel>
<html>

<head>

</head>

<body>
    <p>Total books : @Model.Count</p>
    <ul>
       @foreach(var item in Model)
       {
           <li> Title: @item.Title Year:@item.Year</li>
       }
    </ul>

    <form action="/book/add">
        <input type="text" name="title" />
        <input type="number" name="year" />
        <input type="submit" value="Add Book" />
    </form>
</body>
</html>
